@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dancing+Script&family=Lato:wght@300;400&family=Oooh+Baby&display=swap');

:root {
  --color-softBlack: #555;
  --color-darkBlack: #333;
  --color-beige: #F7F3F1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--color-darkBlack);
  background-color: #fff;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}