@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dancing+Script&family=Lato:wght@300;400&family=Oooh+Baby&display=swap');
/* FONTS
H1 - font-family: 'Oooh Baby', cursive;
H2 - font-family: 'Cormorant Garamond', serif;
H3+P - font-family: 'Lato', sans-serif;
*/

:root {
  --color-softBlack: #555;
  --color-darkBlack: #333;
  --color-beige: #F7F3F1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--color-darkBlack);
  background-color: #fff;
  display: flex;
  justify-content: center;
}

/*FORMS*/
.RSVP-input {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(177, 174, 173, 1);
  border-width: 1px;
  border-style: solid;
  width: 60vw;
  color: #707070;
  font-family: 'Lato';
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
  padding-top: 13px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-left: 23px;
  margin-bottom: 20px;

}

.RSVP-form {
  margin-left: 10%;
}

.RSVP-input.message {
  height: 20vh;

}

.wedding-input {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(177, 174, 173, 1);
  border-width: 1px;
  border-style: solid;
  width: 60vw;
  color: #707070;
  font-family: 'Lato';
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
  padding-top: 13px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-left: 23px;
  margin-bottom: 20px;

}

.wedding-form {
  margin-left: 10%;
}

.wedding-input.message {
  height: 20vh;

}